* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto';
}

/* body {
  background: rgb(201,241,232);
background: linear-gradient(90deg, rgba(201,241,232,1) 0%, rgba(186,249,179,1) 50%, rgba(140,181,242,1) 100%);
} */


#container {
  width: 40vw;
  height: 60vh;
  border: 6px solid royalblue;
  margin: 0 auto;
  margin-top: 20vh;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border-radius: 3rem;
  box-shadow: .5rem 1rem 2rem #888888;
  animation-name: moveInFromTop;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;

}

.title {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: .4rem;
  background-color: royalblue;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-bottom: 2rem;
}

#chatlogs {
  height: 75%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 1rem;
}

.userInput {
  height: 15%;
  justify-self: flex-end;
}

#text {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 2rem;;
  border-bottom-right-radius: 2rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  overflow: auto;
  outline: none;
  background-color: rgba(65,105,225,.3);
  padding: 0.2rem 1rem;
}

.typed {
  align-self: flex-end;
  margin-top: 1rem;
}
.typed-styler {
  background: rgba(65,105,225,.3);
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: .5rem;
  font-weight: bold;
  margin-top: 1.5rem;

}

.random {
  /* width: 100%; */

}

.spit-styler {
  background: rgba(199, 250, 194, 1);
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  padding: .5rem;
  margin: 1rem;
  animation-name: FadeIn;
  animation-duration: 1s;
  
  
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  60% {
    opacity: .4;
    transform: translateY(18px) 
  }
  80% {
    opacity: .6;
    transform: translateY(-7px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}





.stars, .twinkling, .clouds {
	position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}



.twinkling{
	z-index: 3;
	  background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 2;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

.stars {
	z-index: 0;
	  background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}